@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px
}

/* content above  */

.content{
    text-align: center;
    padding-top: 20px;
}
.one{
    font-weight: 400;
    color: grey;
}
.two{
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}
.three{
    font-weight: 200;
    color: grey;
    padding-bottom: 40px;
}

/* designing boxes */

.container{
    align-items: center;
    justify-content: center;
    display: flex;
    gap:30px

}

/* box 1 */

.box1{
    box-shadow: 0 3px 1px 0px  grey;
    border-top: 5px solid hsl(180, 62%, 55%);
    border-radius: 5px;
    color: grey;
    padding: 20px;
    width: 300px;
}
.supervisor, .team_builder, .karma, .calculator{
    float: right;
}
.box2{
    display: flex;
    flex-direction: column;
    gap:40px
}

.top{
    box-shadow: 0 3px 1px 0px  grey;
    border-top: 5px solid hsl(0, 78%, 62%);
    border-radius: 5px;
    color: grey;
    padding: 20px;
    width: 300px;

}
.bottom{
    box-shadow: 0 3px 1px 0px  grey;
    border-top: 5px solid  hsl(34, 97%, 64%);
    border-radius: 5px;
    color: grey;
    padding: 20px;
    width: 300px;
}
.box3{
    box-shadow: 0 3px 1px 0px  grey;
    border-top: 5px solid  hsl(212, 86%, 64%);
    border-radius: 5px;
    color: grey;
    padding: 20px;
    width: 300px;
}
h4{
    color: hsl(234, 12%, 34%);
}
@media (max-width: 760px) {
    .container{
        display: flex;
        flex-direction: column;
    }
}